__pycache__/
# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
# Downloaded bhav copies should not be in GIT
*/bhav_copy/*


